# Moonwave
build

# Wally Dependencies
Packages
DevPackages
ServerPackages

# Hide env
.env

# Roblox place files
*.rbxlx
*.rbxl
*.rbxlx.lock
*.rbxl.lock
# Rojo
sourcemap.json

# Test files
*.test.model.json
*.test.schema.json

# Nodejs
node_modules
include
out

# Asphalt
.asphalt-debug